@import "tailwindcss";
@plugin "daisyui" {
	themes: corporate --default, black --prefersdark;
}

@plugin "daisyui/theme" {
	name: "corporate";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(95.127% 0.007 260.731);
	--color-base-200: oklch(93.299% 0.01 261.788);
	--color-base-300: oklch(89.925% 0.016 262.749);
	--color-base-content: oklch(32.437% 0.022 264.182);
	--color-primary: oklch(58% 0.158 241.966);
	--color-primary-content: oklch(100% 0 0);
	--color-secondary: oklch(55% 0.046 257.417);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(60% 0.118 184.704);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(0% 0 0);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(60% 0.126 221.723);
	--color-info-content: oklch(100% 0 0);
	--color-success: oklch(62% 0.194 149.214);
	--color-success-content: oklch(100% 0 0);
    --color-warning: oklch(70.081% 0.164 56.844);
    --color-warning-content: oklch(14.016% 0.032 56.844);
    --color-error: oklch(53.07% 0.241 24.16);
    --color-error-content: oklch(90.614% 0.048 24.16);
	--radius-selector: 0.25rem;
	--radius-field: 0.25rem;
	--radius-box: 0.25rem;
	--size-selector: 0.21875rem;
	--size-field: 0.21875rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: "black";
	default: false;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(0% 0 0);
	--color-base-200: oklch(19% 0 0);
	--color-base-300: oklch(22% 0 0);
	--color-base-content: oklch(87.609% 0 0);
	--color-primary: oklch(70% 0.165 254.624);
	--color-primary-content: oklch(12% 0.042 264.695);
	--color-secondary: oklch(81% 0.111 293.571);
	--color-secondary-content: oklch(12% 0.042 264.695);
	--color-accent: oklch(83% 0.128 66.29);
	--color-accent-content: oklch(12% 0.042 264.695);
	--color-neutral: oklch(35% 0 0);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(45.201% 0.313 264.052);
	--color-info-content: oklch(89.04% 0.062 264.052);
	--color-success: oklch(51.975% 0.176 142.495);
	--color-success-content: oklch(90.395% 0.035 142.495);
	--color-warning: oklch(96.798% 0.211 109.769);
	--color-warning-content: oklch(19.359% 0.042 109.769);
	--color-error: oklch(57% 0.245 27.325);
	--color-error-content: oklch(100% 0 0);
	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.21875rem;
	--size-field: 0.21875rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

.carbon-fiber {
	background-image: radial-gradient(circle at center center, transparent, var(--color-base-300)), repeating-linear-gradient(135deg, var(--color-base-300) 0px, var(--color-base-300) 2px, transparent 2px, transparent 10px, var(--color-base-300) 10px, var(--color-base-300) 11px, transparent 11px, transparent 21px), repeating-linear-gradient(45deg, var(--color-base-200) 0px, var(--color-base-200) 4px, transparent 4px, transparent 8px), linear-gradient(90deg, var(--color-base-300), var(--color-base-300));
}

* {
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

#root {
	height: 100%;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.not-a-link {
	cursor: default !important;
	&:hover {
		text-decoration: none !important;
	}
}

@font-face {
	font-family: "Pacifico";
	src: url("./assets/Pacifico-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
