@import "tailwindcss";
@plugin "daisyui" {
	themes: nord --default, black --prefersdark;
}

@plugin "daisyui/theme" {
    name: "black";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(0% 0 0);
    --color-base-200: oklch(19% 0 0);
    --color-base-300: oklch(22% 0 0);
    --color-base-content: oklch(87.609% 0 0);
    --color-primary: oklch(70% 0.165 254.624);
    --color-primary-content: oklch(12% 0.042 264.695);
    --color-secondary: oklch(81% 0.111 293.571);
    --color-secondary-content: oklch(12% 0.042 264.695);
    --color-accent: oklch(83% 0.128 66.29);
    --color-accent-content: oklch(12% 0.042 264.695);
    --color-neutral: oklch(35% 0 0);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(45.201% 0.313 264.052);
    --color-info-content: oklch(89.04% 0.062 264.052);
    --color-success: oklch(51.975% 0.176 142.495);
    --color-success-content: oklch(90.395% 0.035 142.495);
    --color-warning: oklch(96.798% 0.211 109.769);
    --color-warning-content: oklch(19.359% 0.042 109.769);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(100% 0 0);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.21875rem;
    --size-field: 0.21875rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

#root {
	height: 100%;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

* {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.not-a-link {
    cursor: default !important;
    &:hover {
        text-decoration: none !important;
    }
}